NEXT_PUBLIC_TELEGRAM_USERNAME=mytelegram
NEXT_PUBLIC_PAYPAL_USERNAME=myPayPal
NEXT_PUBLIC_BTC_ADDRESS=bc1xxxxxxxxxxxxxxxx
THESPORTSDB_API_KEY=
EMBY_SERVER_URL=
EMBY_API_KEY=
EMBY_USER_ID=
TMDB_API_KEY=
